:root {
    --main-color: #0A0A0A;
    --main-button-color: #1A1A1A;
    --main-button-hover-color: #1D1D1D;
    --main-button-active-color: #2A2A2A;
    --main-button-disabled: #0d0d0d;
    --theme-color: #6F01A3;
    --theme-secondary-color: #4A00A8;
    --main-text-color: #E0E0E0;
    --main-toast-error: #fa3c3c;
    --main-toast-error-secondary: #ff4a4a;
    --main-toast-success: #09cf09;
    --main-toast-success-secondary: #2aaa2a;
}