* {
    margin: 0;
}
body {
    font-family: 'Typonine Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-color);
}
.titlebar {
    display: flex;
    justify-content: space-between;
}
.action-button {
    display: inline-flex;
    user-select: none;
    padding: 10px;
}
.action-button:hover {
    background-color: var(--main-button-hover-color);
}
img {
    width: 24px;
    height: 24px;
    user-select: none;
}
.filler-drag {
    flex: 1;
    -webkit-app-region: drag;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
}
.ui-givepad {
    padding: 10px;
    display: inline-flex;
    flex: 1;
    justify-content: space-between;
}
.titlebar-menu {
    display: flex;
    align-content: center;
    margin-left: 5px;
}
.titlebar-menu span {
    padding: 2px;
    margin-left: 10px;
    user-select: none;
}
.titlebar-menu span:hover {
    background-color: var(--main-button-hover-color);
}