@keyframes ui-slight-popup {
    0% {
        transform: scale(1.05);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes ui-slight-popdown {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.05);
        opacity: 0; 
    }
}
@keyframes ui-slidein {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes ui-fall {
    from {
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
        filter: blur(0); /* No blur at the beginning */
      }
      to {
        transform: translateY(100px) rotate(3deg); /* Slight 3-degree rotation at the end */
        opacity: 0;
        filter: blur(2px); /* Apply motion blur during the fall */
      }
  }
*::-webkit-scrollbar {
    width: 10px;
    padding: 2px;
    background-color: var(--main-color);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
    border-radius: 7px;
}
*::-webkit-scrollbar-thumb:active {
    background-color: var(--theme-secondary-color);
}
* {
    margin: 0;
    overflow: hidden;
}
body {
    font-family: 'DIN Next LT', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: var(--main-text-color);
    background-color: var(--main-color);
    user-select: none;
}
.titlebar {
    display: flex;
    justify-content: space-between;
}
.action-button {
    display: inline-flex;
    user-select: none;
    padding: 10px;
}
.action-button:hover {
    background-color: var(--main-button-hover-color);
}
.ui-streamsoft-logo {
    width: 24px;
    height: 24px;
    user-select: none;
}
.filler-drag {
    flex: 1;
    -webkit-app-region: drag;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
}
.ui-givepad {
    padding: 10px;
    display: inline-flex;
    flex: 1;
    justify-content: space-between;
}
.titlebar-menu {
    display: flex;
    align-content: center;
    margin-left: 5px;
}
.titlebar-menu span {
    padding: 2px;
    margin-left: 10px;
    user-select: none;
}
.titlebar-menu span:hover {
    background-color: var(--main-button-hover-color);
}
.ui-preview-area {
    text-align: center;
}
.ui-interaction-button {
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    background-color: var(--main-button-color);
    color: var(--main-text-color);
    font-size: 14pt;
    font-family: 'DIN Next LT', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    vertical-align: middle;
    width: auto;
    padding-left: 15px !important;
    padding-right: 15px !important;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.ui-interaction-button:hover {
    background-color: var(--main-button-hover-color);
}
.ui-interaction-button:active {
    background-color: var(--main-button-active-color);
}
.ui-low-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    animation: ui-slight-popup 0.5s ease;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.ui-modal {
    padding: 15px;
    border-radius: 20px;
    width: 60vw;
    background-color: var(--main-color);
}
.ui-source-creator {
    background-color: var(--main-button-color);
    padding: 5px;
    border-radius: calc(5px * 2);
    margin-right: 10px;
    display: inline-block;
    height: 140px;
    width: auto;
}
.ui-preview-image {
    width: 200px;
    height: 112px;
    border-radius: 8px;
}
.ui-overflow {
    max-height: 60vh;
    overflow-y: scroll;
    margin-bottom: 5px;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #00FF00;
    color: #111;
    font-size: 150%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
.ui-fps-monitor {
    display: inline-block;
    font-weight: 700;
}
.ui-fps-monitor .material-symbols-outlined {
    vertical-align: middle;
}
.ui-go-live {
    background-image: linear-gradient(45deg, var(--theme-color), var(--theme-secondary-color));
}
.ui-go-live:hover {
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: multiply !important;
}
.ui-toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    animation: ui-slidein 0.2s ease forwards;
    border-radius: 20px;
    background-color: var(--main-button-color);
}
.ui-toast-icon {
    align-items: center;
    display: flex;
    padding: 10px;
    height: 10vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--main-button-hover-color);
    margin-right: 5px;
}
.ui-toast-details {
    padding: 10px;
}
.ui-toast-click-to-dismiss {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 5px;
}
.ui-toast-icon .material-symbols-outlined::before {
    content: 'help';
}
.ui-toast-error {
    background-color: var(--main-toast-error);
}
.ui-toast-error .ui-toast-icon {
    background-color: var(--main-toast-error-secondary);
}
.ui-toast-error .ui-toast-icon .material-symbols-outlined::before {
    content: 'error';
}
.ui-toast-success {
    background-color: var(--main-toast-success);
}
.ui-toast-success .ui-toast-icon {
    background-color: var(--main-toast-success-secondary);
}
.ui-toast-success .ui-toast-icon .material-symbols-outlined::before {
    content: 'check_circle';
}
#ui-export-onprogress span {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    font-size: 32pt;
    font-weight: 700;
}
canvas {
    background-image: url('../../assets/images/ui-no-source-selected.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 55vh;
    width: auto;
}